In [6]:
a=input('enter a number:')

enter a number:12

In [3]:
b=2
c=a+b
print(c)

TypeError: can only concatenate str (not "int") to str

In [4]:
a=int(input('enter a number:'))

enter a number:12

In [5]:
b=2
c=a+b
print(c)

14

In [ ]:
a=input('enter a number:')

In [2]:
type(a)

str

In [8]:
print(a)

12

In [7]:
b=int(a[0])
print(b)
c=int(a[1])
print(b+c)

1
3

In [5]:
print(3*3+3/3-3)   #operator presidence rule

7.0

In [9]:
w=int(input('enter your weight w: '))
h=float(input('enter your height m: '))  #1m=100cm
bmi=w/(h*h)
print(round(bmi))

enter your weight w: 65
enter your height m: 1.62
25

In [7]:
type(h)

float

In [8]:
score=1
score +=2
print(score)

3

In [17]:
a=int(input('enter a number'))
b=int(input('enter 2nd number '))

print('a is ',a)
print('b is ',b)
c=a
a=b
b=c
print('a is ',a)
print('b is ',b)

enter a number12
enter 2nd number 15
a is  12
b is  15
a is  15
b is  12

In [10]:
print('your score is '+  str(score))

your score is 3

In [11]:
print('your score is'+ score)

TypeError: can only concatenate str (not "int") to str

In [12]:
print(f'your score is {score}')

your score is 3

In [17]:
print('welcome tip app')
b=int(input('enter bill amount '))
p=int(input('enter percentage of tip 10,20,30: '))
m=int(input('enter how many persons going to be share '))
#totalamount=p/100*b+b
totalamount=(b*(p/100)) 
totalamount=totalamount/m
#if you missed to put * sign it will throw int object is not callable
#print(round(totalamount,2))
#print({':.2f'}.format(totalamount))  #it throws error set object has no attribute format
print('each person going to give {:.2f}'.format(totalamount))
#or
print('each person going to give',totalamount, 'rs')

welcome tip app
enter bill amount 100
enter percentage of tip 10,20,30: 10
enter how many persons going to be share 10
each person going to give 1.00
each person going to give 1.0 rs

In [14]:
27.5*4

110.0

### life in weeks pgm

1yr=365days,  1yr=52weeks,  1yr=12months

#you have 90 years life and you have to tell how many months,weeks,days left  and use f string

In [15]:
a=int(input('enter your age:'))
remyears=90-a
remmonth=remyears*12
remweek=remyears*52
remdays=remyears*365
print(f'you have {remdays} days and {remmonth} month and {remyears} year left')

enter your age:20
you have 25550 days and 840 month and 70 year left

In [18]:
a=len('hello')
a

5

In [19]:
for _ in 'hello':   #after in is predefined and we can use variable whatever we want here _, i want to print the word no of times that is equal to len of hello
    print('raji')

raji
raji
raji
raji
raji

In [21]:
list1=[(1,2),(5,4),(3,7)]
type(list1)

list

In [24]:
for a,b in list1:
    print(a,end=' ')
    print(b)
    print(a,b)

1 2
1 2
5 4
5 4
3 7
3 7

In [22]:
# we iterate dictionary by default it iterate over key
c={'a':12,'b':[1,2,3],'d':{'k1':10}}
type(c)

dict

In [26]:
c['b'][2]  #we can manupulate dictionary using key value

3

In [23]:
for key in c:
    print(key)

a
b
d

In [29]:
for key in c.values():
    print(key)

12
[1, 2, 3]
{'k1': 10}

In [27]:
for key in c.items():
    print(key)

('a', 12)
('b', [1, 2, 3])
('d', {'k1': 10})

In [28]:
for key,value in c.items():
    print(key)
    print(value)

a
12
b
[1, 2, 3]
d
{'k1': 10}