In [5]:
import pandas as pd

In [6]:
df=pd.read_csv('C:\\Users\\2124259\\Downloads\\python practice\survey\survey_results_public.csv')
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [7]:
df['Country'].value_counts()

United States                         12469
India                                  8403
United Kingdom                         3896
Germany                                3890
Canada                                 2191
                                      ...
Chad                                      1
Saint Lucia                               1
Fiji                                      1
Liechtenstein                             1
Micronesia, Federated States of...        1
Name: Country, Length: 183, dtype: int64

In [8]:
country_grp=df.groupby(['Country'])

In [9]:
country_grp.get_group('United States')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
13,14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
16,17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
17,18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64413,58498,NaN,Yes,32.0,23,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,NaN,NaN,8,Less than 1 year
64417,58896,NaN,Yes,29.0,10,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,29,NaN
64428,60931,NaN,Yes,NaN,17,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Too long,No,Web development or web design,NaN,Drupal,Not applicable - I did not use Stack Overflow ...,NaN,5,NaN
64443,63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year

In [13]:
country_grp.get_group('India')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
6,7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
21,22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
57,58,I am a developer by profession,Yes,NaN,22,NaN,NaN,NaN,India,Indian rupee,...,Neither easy nor difficult,Too long,NaN,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN
62,63,I am a student who is learning to code,Yes,21.0,17,NaN,NaN,NaN,India,NaN,...,Easy,Appropriate in length,No,NaN,Angular.js;Django;jQuery;Laravel;Vue.js,NaN,Not applicable - I did not use Stack Overflow ...,NaN,4,NaN
147,149,I am a developer by profession,Yes,36.0,31,Yearly,21000000.0,293196.0,India,Indian rupee,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,70.0,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64391,54757,NaN,Yes,NaN,18,NaN,NaN,NaN,India,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery,jQuery,A lot less welcome now than last year,NaN,5,Less than 1 year
64398,55407,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64439,62464,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN
64442,62954,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js,NaN,NaN,NaN,NaN
64452,64236,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
filt=df["Country"]=='United States'

In [15]:
df.loc[filt]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
7,8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
13,14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
16,17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
17,18,I am a developer by profession,Yes,32.0,12,Monthly,105000.0,1260000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,45.0,19,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64413,58498,NaN,Yes,32.0,23,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,ASP.NET;ASP.NET Core;Flask;Gatsby;jQuery;React...,NaN,NaN,8,Less than 1 year
64417,58896,NaN,Yes,29.0,10,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,29,NaN
64428,60931,NaN,Yes,NaN,17,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Too long,No,Web development or web design,NaN,Drupal,Not applicable - I did not use Stack Overflow ...,NaN,5,NaN
64443,63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year

In [18]:
filt=df["Country"]=='United States'
df.loc[filt]['NEWStuck'].value_counts()

Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Do other work and come back later                                                                   613
Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos;Do other work and come back later                                      604
Visit Stack Overflow;Go for a walk or other physical activity;Do other work and come back later                                                                                             565
Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos;Do other work and come back later                                                                468
Call a coworker or friend;Visit Stack Overflow;Do other work and come back later                                                                                                            410
                                                                                                                                                                                           ...
Play games;Call a coworker or friend;Visit Stack Overflow;Panic;Do other work and come back later;Visit another developer community (please name):                                            1
Call a coworker or friend;Panic;Watch help / tutorial videos                                                                                                                                  1
Panic;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):                                                                         1
Meditate;Play games;Call a coworker or friend;Visit Stack Overflow;Panic;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):      1
Meditate;Play games;Call a coworker or friend;Panic;Do other work and come back later                                                                                                         1
Name: NEWStuck, Length: 363, dtype: int64

In [19]:
country_grp['NEWStuck'].value_counts()

Country      NEWStuck
Afghanistan  Visit Stack Overflow                                                                                                                                                                                                                 5
             Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                                                    5
             Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                          3
             Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later                                                                                                                        2
             Meditate;Play games;Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Panic;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):    2
                                                                                                                                                                                                                                                 ..
Zimbabwe     Play games;Visit Stack Overflow;Go for a walk or other physical activity                                                                                                                                                             1
             Play games;Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                                         1
             Visit Stack Overflow;Go for a walk or other physical activity;Visit another developer community (please name):                                                                                                                       1
             Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos                                                                                                                                           1
             Visit Stack Overflow;Panic;Watch help / tutorial videos;Do other work and come back later                                                                                                                                            1
Name: NEWStuck, Length: 9313, dtype: int64

In [26]:
country_grp['NEWStuck'].value_counts().head(30)

Country      NEWStuck
Afghanistan  Visit Stack Overflow                                                                                                                                                                                                                 5
             Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                                                    5
             Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                          3
             Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later                                                                                                                        2
             Meditate;Play games;Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Panic;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):    2
             Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later                                                                                                                                                  2
             Visit Stack Overflow;Watch help / tutorial videos;Visit another developer community (please name):                                                                                                                                   2
             Watch help / tutorial videos                                                                                                                                                                                                         2
             Call a coworker or friend;Visit Stack Overflow                                                                                                                                                                                       1
             Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos;Visit another developer community (please name):                                                                1
             Call a coworker or friend;Visit Stack Overflow;Visit another developer community (please name):                                                                                                                                      1
             Do other work and come back later                                                                                                                                                                                                    1
             Go for a walk or other physical activity                                                                                                                                                                                             1
             Go for a walk or other physical activity;Do other work and come back later                                                                                                                                                           1
             Meditate;Call a coworker or friend;Visit Stack Overflow;Do other work and come back later                                                                                                                                            1
             Meditate;Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos                                                                                                        1
             Meditate;Play games;Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos;Visit another developer community (please name):                                                                                     1
             Meditate;Visit Stack Overflow                                                                                                                                                                                                        1
             Panic;Do other work and come back later                                                                                                                                                                                              1
             Play games;Call a coworker or friend;Visit Stack Overflow;Do other work and come back later                                                                                                                                          1
             Play games;Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Panic;Watch help / tutorial videos;Do other work and come back later                                                              1
             Play games;Go for a walk or other physical activity;Visit another developer community (please name):                                                                                                                                 1
             Play games;Visit Stack Overflow;Go for a walk or other physical activity;Panic;Watch help / tutorial videos;Do other work and come back later                                                                                        1
             Play games;Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                                         1
             Play games;Watch help / tutorial videos                                                                                                                                                                                              1
             Visit Stack Overflow;Do other work and come back later                                                                                                                                                                               1
             Visit Stack Overflow;Go for a walk or other physical activity;Panic;Do other work and come back later                                                                                                                                1
             Visit Stack Overflow;Panic;Watch help / tutorial videos;Visit another developer community (please name):                                                                                                                             1
             Visit another developer community (please name):                                                                                                                                                                                     1
Albania      Call a coworker or friend;Visit Stack Overflow                                                                                                                                                                                       3
Name: NEWStuck, dtype: int64

In [28]:
country_grp['NEWStuck'].value_counts().loc['Albania']

NEWStuck
Call a coworker or friend;Visit Stack Overflow                                                                                                                                                                                 3
Visit Stack Overflow                                                                                                                                                                                                           3
Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos;Do other work and come back later                                                                                                   3
Call a coworker or friend;Visit Stack Overflow;Do other work and come back later                                                                                                                                               2
Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Do other work and come back later                                                                                                      2
Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos                                                                                                           2
Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                    2
Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                                              2
Visit another developer community (please name):                                                                                                                                                                               2
Call a coworker or friend;Visit Stack Overflow;Do other work and come back later;Visit another developer community (please name):                                                                                              1
Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later                                                                                                                  1
Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):                                                                 1
Meditate;Play games;Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):    1
Meditate;Play games;Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos                                                                                                                 1
Meditate;Visit Stack Overflow;Go for a walk or other physical activity                                                                                                                                                         1
Meditate;Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                                     1
Meditate;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later                                                                                                                                   1
Panic                                                                                                                                                                                                                          1
Play games                                                                                                                                                                                                                     1
Play games;Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Do other work and come back later                                                                                           1
Play games;Visit Stack Overflow;Go for a walk or other physical activity;Do other work and come back later                                                                                                                     1
Play games;Visit Stack Overflow;Go for a walk or other physical activity;Visit another developer community (please name):                                                                                                      1
Play games;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later                                                                                                                                 1
Visit Stack Overflow;Do other work and come back later                                                                                                                                                                         1
Visit Stack Overflow;Do other work and come back later;Visit another developer community (please name):                                                                                                                        1
Visit Stack Overflow;Panic;Watch help / tutorial videos;Do other work and come back later                                                                                                                                      1
Name: NEWStuck, dtype: int64

In [30]:
#country_grp['SocialMedia'].value_counts().loc['China']

In [32]:
country_grp['NEWStuck'].value_counts(normalize=True).loc['Albania']    #for %

NEWStuck
Call a coworker or friend;Visit Stack Overflow                                                                                                                                                                                 0.078947
Visit Stack Overflow                                                                                                                                                                                                           0.078947
Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos;Do other work and come back later                                                                                                   0.078947
Call a coworker or friend;Visit Stack Overflow;Do other work and come back later                                                                                                                                               0.052632
Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Do other work and come back later                                                                                                      0.052632
Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos                                                                                                           0.052632
Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                    0.052632
Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                                              0.052632
Visit another developer community (please name):                                                                                                                                                                               0.052632
Call a coworker or friend;Visit Stack Overflow;Do other work and come back later;Visit another developer community (please name):                                                                                              0.026316
Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later                                                                                                                  0.026316
Call a coworker or friend;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):                                                                 0.026316
Meditate;Play games;Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos;Do other work and come back later;Visit another developer community (please name):    0.026316
Meditate;Play games;Visit Stack Overflow;Go for a walk or other physical activity;Watch help / tutorial videos                                                                                                                 0.026316
Meditate;Visit Stack Overflow;Go for a walk or other physical activity                                                                                                                                                         0.026316
Meditate;Visit Stack Overflow;Watch help / tutorial videos                                                                                                                                                                     0.026316
Meditate;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later                                                                                                                                   0.026316
Panic                                                                                                                                                                                                                          0.026316
Play games                                                                                                                                                                                                                     0.026316
Play games;Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Do other work and come back later                                                                                           0.026316
Play games;Visit Stack Overflow;Go for a walk or other physical activity;Do other work and come back later                                                                                                                     0.026316
Play games;Visit Stack Overflow;Go for a walk or other physical activity;Visit another developer community (please name):                                                                                                      0.026316
Play games;Visit Stack Overflow;Watch help / tutorial videos;Do other work and come back later                                                                                                                                 0.026316
Visit Stack Overflow;Do other work and come back later                                                                                                                                                                         0.026316
Visit Stack Overflow;Do other work and come back later;Visit another developer community (please name):                                                                                                                        0.026316
Visit Stack Overflow;Panic;Watch help / tutorial videos;Do other work and come back later                                                                                                                                      0.026316
Name: NEWStuck, dtype: float64

In [33]:
country_grp['ConvertedComp'].median().loc['Germany']

62697.0

In [34]:
country_grp['ConvertedComp'].agg(['median','mean'])

                                       median           mean
Country
Afghanistan                           15163.5  148290.125000
Albania                               15900.0   25611.000000
Algeria                                9432.0   10362.812500
Andorra                               88640.0   88640.000000
Angola                                 5292.0    5292.000000
...                                       ...            ...
Venezuela, Bolivarian Republic of...   3600.0    6280.611111
Viet Nam                              10344.0   28342.605769
Yemen                                 36000.0   36000.000000
Zambia                                 5452.0   17506.400000
Zimbabwe                               7200.0   26338.181818

[183 rows x 2 columns]

In [35]:
country_grp['ConvertedComp'].agg(['median','mean']).loc['Canada']

median     68068.000000
mean      115101.775465
Name: Canada, dtype: float64

In [37]:
filt=df['Country']=="India"
df.loc[filt]['LanguageWorkedWith']

6                                  C#;HTML/CSS;PHP
21                                     Java;Python
57                    C#;JavaScript;SQL;TypeScript
62           C;C++;HTML/CSS;Java;JavaScript;Python
147                 Bash/Shell/PowerShell;C++;Perl
                           ...
64391    C;HTML/CSS;Java;JavaScript;PHP;Python;SQL
64398                                          NaN
64439                                          NaN
64442                                          SQL
64452                                          NaN
Name: LanguageWorkedWith, Length: 8403, dtype: object

In [38]:
filt=df['Country']=="India"
df.loc[filt]['LanguageWorkedWith'].str.contains('Python')

6        False
21        True
57       False
62        True
147      False
         ...
64391     True
64398      NaN
64439      NaN
64442    False
64452      NaN
Name: LanguageWorkedWith, Length: 8403, dtype: object

In [40]:
filt=df['Country']=="India"          #how many people know python
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

2670

In [41]:
#country_grp['LanguageWorkedWith'].str.contains('Python').sum()   check error

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [42]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [43]:
#what total no of people who know python?
#what %of people from each country know python?

In [44]:
country_respondents=df['Country'].value_counts()
country_respondents

United States                         12469
India                                  8403
United Kingdom                         3896
Germany                                3890
Canada                                 2191
                                      ...
Chad                                      1
Saint Lucia                               1
Fiji                                      1
Liechtenstein                             1
Micronesia, Federated States of...        1
Name: Country, Length: 183, dtype: int64

In [59]:
country_uses_python=country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [60]:
country_uses_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [61]:
#total no of people so concate

In [62]:
python_df=pd.concat([country_respondents, country_uses_python],axis='columns',sort=False)
python_df

                                    Country  LanguageWorkedWith
United States                         12469                5964
India                                  8403                2670
United Kingdom                         3896                1621
Germany                                3890                1712
Canada                                 2191                1011
...                                     ...                 ...
Chad                                      1                   0
Saint Lucia                               1                   1
Fiji                                      1                   0
Liechtenstein                             1                   0
Micronesia, Federated States of...        1                   1

[183 rows x 2 columns]

In [52]:
#rename

In [68]:
python_df.rename(columns={'Country':'NumRespondents','LanguageWorkedWith':'Numknowspython'},inplace=True)
python_df

                                    NumRespondents  Numknowspython
United States                                12469            5964
India                                         8403            2670
United Kingdom                                3896            1621
Germany                                       3890            1712
Canada                                        2191            1011
...                                            ...             ...
Chad                                             1               0
Saint Lucia                                      1               1
Fiji                                             1               0
Liechtenstein                                    1               0
Micronesia, Federated States of...               1               1

[183 rows x 2 columns]

In [66]:
#new column create %value of mean

In [67]:
#python_df['pctknowspython']=part/whole

In [69]:
python_df['pctknowspython']=(python_df['Numknowspython']/python_df['NumRespondents'])*100
python_df

,NumRespondents,Numknowspython,pctknowspython
United States,12469,5964,47.830620
India,8403,2670,31.774366
United Kingdom,3896,1621,41.606776
Germany,3890,1712,44.010283
Canada,2191,1011,46.143314
...,...,...,...
Chad,1,0,0.000000
Saint Lucia,1,1,100.000000
Fiji,1,0,0.000000
Liechtenstein,1,0,0.000000
"Micronesia, Federated States of...",1,1,100.000000

In [72]:
python_df.sort_values(by='pctknowspython',ascending=False)
python_df

,NumRespondents,Numknowspython,pctknowspython
United States,12469,5964,47.830620
India,8403,2670,31.774366
United Kingdom,3896,1621,41.606776
Germany,3890,1712,44.010283
Canada,2191,1011,46.143314
...,...,...,...
Chad,1,0,0.000000
Saint Lucia,1,1,100.000000
Fiji,1,0,0.000000
Liechtenstein,1,0,0.000000
"Micronesia, Federated States of...",1,1,100.000000