In [1]:
import pandas as pd

In [2]:
people={'first':['cin','anu','ais'],
       'middle':['de','de','en'],
       'last':['fu','en','fu'],
       'email':['cin@gamail.com','anu@gamail.com','aisha@gamail.com']}

In [3]:
df=pd.DataFrame(people)
df

  first middle last             email
0   cin     de   fu    cin@gamail.com
1   anu     de   en    anu@gamail.com
2   ais     en   fu  aisha@gamail.com

In [4]:
df.apply(pd.Series.min)      #to find which alphabets 1st in each column

first                  ais
middle                  de
last                    en
email     aisha@gamail.com
dtype: object

In [5]:
df.apply(lambda x: x.min())         #to find which alphabets 1st in each column to use lambda

first                  ais
middle                  de
last                    en
email     aisha@gamail.com
dtype: object

In [6]:
df.applymap(len)     #built in len function to map every individal len of dataframe use applymap

   first  middle  last  email
0      3       2     2     14
1      3       2     2     14
2      3       2     2     16

In [7]:
#to map all values in dataframe in lowercase
df.applymap(str.lower)

  first middle last             email
0   cin     de   fu    cin@gamail.com
1   anu     de   en    anu@gamail.com
2   ais     en   fu  aisha@gamail.com

In [8]:
df.applymap(str.upper)

  first middle last             email
0   CIN     DE   FU    CIN@GAMAIL.COM
1   ANU     DE   EN    ANU@GAMAIL.COM
2   AIS     EN   FU  AISHA@GAMAIL.COM

In [9]:
#to chqnge 1 column values by use substitute
df['first'].map({'cin':'tin','anu':'Manu'})

0     tin
1    Manu
2     NaN
Name: first, dtype: object

In [10]:
df['first'].replace({'cin':'tin','anu':'Manu'})  #instead of map we use replace so you don have nan

0     tin
1    Manu
2     ais
Name: first, dtype: object

In [11]:
#rename column name
df.rename(columns={'first':'foremost'},inplace=True)

In [12]:


df['foremost']

0    cin
1    anu
2    ais
Name: foremost, dtype: object

In [13]:
#rename column name(2)
df.rename(columns={'first':'foremost'})

  foremost middle last             email
0      cin     de   fu    cin@gamail.com
1      anu     de   en    anu@gamail.com
2      ais     en   fu  aisha@gamail.com

In [14]:
#2 ansku another itha apply panrathu like true or false vachu
df['last'].map({'fu':'True','en':'False'})

0     True
1    False
2     True
Name: last, dtype: object

In [15]:
df['last'].map({'fu':'True'})

0    True
1     NaN
2    True
Name: last, dtype: object

In [17]:
df['last'].replace({'fu':'True','en':'False'})

0     True
1    False
2     True
Name: last, dtype: object

In [18]:
df.describe()

       foremost middle last           email
count         3      3    3               3
unique        3      2    2               3
top         ais     de   fu  cin@gamail.com
freq          1      2    2               1

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\2124259\\Downloads\\python practice\survey\survey_results_public.csv')
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [3]:
schema_df=pd.read_csv('C:\\Users\\2124259\\Downloads\\python practice\survey\survey_results_schema.csv')
schema_df

                Column                                       QuestionText
0           Respondent  Randomized respondent ID number (not in order ...
1           MainBranch  Which of the following options best describes ...
2             Hobbyist                            Do you code as a hobby?
3                  Age  What is your age (in years)? If you prefer not...
4           Age1stCode  At what age did you write your first line of c...
..                 ...                                                ...
56  WebframeWorkedWith  Which web frameworks have you done extensive d...
57       WelcomeChange  Compared to last year, how welcome do you feel...
58         WorkWeekHrs  On average, how many hours per week do you wor...
59           YearsCode  Including any education, how many years have y...
60        YearsCodePro  NOT including education, how many years have y...

[61 rows x 2 columns]

In [4]:
df['Country']

0                   Germany
1            United Kingdom
2        Russian Federation
3                   Albania
4             United States
                ...
64456         United States
64457               Morocco
64458              Viet Nam
64459                Poland
64460                 Spain
Name: Country, Length: 64461, dtype: object

In [9]:
#df.sort_values('Country',inplace=True).head(30)   error
df.sort_values('Country',inplace=True)
df['Country'].head(30)

8599     Afghanistan
24908    Afghanistan
57044    Afghanistan
41950    Afghanistan
50469    Afghanistan
37601    Afghanistan
28270    Afghanistan
9806     Afghanistan
50492    Afghanistan
35541    Afghanistan
36354    Afghanistan
43140    Afghanistan
63925    Afghanistan
38261    Afghanistan
35602    Afghanistan
43010    Afghanistan
36887    Afghanistan
43708    Afghanistan
61453    Afghanistan
64306    Afghanistan
43157    Afghanistan
23708    Afghanistan
41506    Afghanistan
2918     Afghanistan
63993    Afghanistan
43843    Afghanistan
59329    Afghanistan
895      Afghanistan
50847    Afghanistan
35052    Afghanistan
Name: Country, dtype: object

In [12]:
df.sort_values(by='ConvertedComp',ascending=False)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
56482,57606,I am a developer by profession,No,23.0,16,Weekly,115000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Vue.js,Spring,Just as welcome now as I felt last year,40.0,6,Less than 1 year
4109,4125,I am a developer by profession,Yes,24.0,15,Weekly,67000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;ASP.NET Core,Angular;ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,45.0,8,2
4113,4129,I am a developer by profession,Yes,23.0,16,Weekly,80000.0,2000000.0,United States,United States dollar,...,Easy,Too short,No,NaN,Django;Flask;React.js,Flask;jQuery;React.js,Somewhat less welcome now than last year,45.0,7,1
52361,53444,I am a developer by profession,Yes,NaN,12,Weekly,76000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Flask;React.js;Spring;Vue.js,Angular;ASP.NET;Flask;jQuery;Spring,Just as welcome now as I felt last year,45.0,18,14
52360,53443,I am a developer by profession,Yes,20.0,18,Weekly,55000.0,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,NaN,Angular;Angular.js;Django;Express;Flask;React....,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Just as welcome now as I felt last year,40.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64425,60055,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64431,61121,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64434,61570,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64436,61918,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64440,62605,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.sort_values(by='ConvertedComp',ascending=False).head(60)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
56482,57606,I am a developer by profession,No,23.0,16,Weekly,1.150000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Vue.js,Spring,Just as welcome now as I felt last year,40.0,6,Less than 1 year
4109,4125,I am a developer by profession,Yes,24.0,15,Weekly,6.700000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;ASP.NET Core,Angular;ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,45.0,8,2
4113,4129,I am a developer by profession,Yes,23.0,16,Weekly,8.000000e+04,2000000.0,United States,United States dollar,...,Easy,Too short,No,NaN,Django;Flask;React.js,Flask;jQuery;React.js,Somewhat less welcome now than last year,45.0,7,1
52361,53444,I am a developer by profession,Yes,NaN,12,Weekly,7.600000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Flask;React.js;Spring;Vue.js,Angular;ASP.NET;Flask;jQuery;Spring,Just as welcome now as I felt last year,45.0,18,14
52360,53443,I am a developer by profession,Yes,20.0,18,Weekly,5.500000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,NaN,Angular;Angular.js;Django;Express;Flask;React....,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Just as welcome now as I felt last year,40.0,1,1
58754,59916,I am a developer by profession,No,NaN,18,Weekly,8.000000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET;ASP.NET Core;Ruby on Rails,Angular;ASP.NET;jQuery,Somewhat more welcome now than last year,40.0,14,8
4459,4475,I am a developer by profession,Yes,33.0,12,Weekly,1.100000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,Web development or web design,ASP.NET;ASP.NET Core;Gatsby;Laravel;React.js;V...,Angular;ASP.NET;Gatsby;jQuery;Laravel;React.js,Just as welcome now as I felt last year,45.0,15,10
15567,15619,I am a developer by profession,Yes,29.0,15,Weekly,1.270000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,Fine arts or performing arts (such as graphic ...,Express;React.js;Ruby on Rails;Vue.js,Flask;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,48.0,11,8
19586,19664,I am a developer by profession,Yes,29.0,8,Weekly,6.000000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,NaN,Django;Flask,NaN,Just as welcome now as I felt last year,45.0,7,3
2126,2135,I am a developer by profession,Yes,26.0,18,Weekly,7.500000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",Express;React.js,Express,Just as welcome now as I felt last year,43.0,8,2
3031,3045,I am a developer by profession,Yes,35.0,12,Weekly,1.000000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Just as welcome now as I felt last year,42.0,23,5
4522,4538,I am a developer by profession,Yes,26.0,13,Weekly,7.072000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",Django;Flask;React.js,Flask;React.js,Just as welcome now as I felt last year,80.0,3,Less than 1 year
2491,2503,I am a developer by profession,No,28.0,12,Weekly,1.150000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,36.0,10,6
15478,15529,I am a developer by profession,No,27.0,15,Weekly,1.190000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Ruby on Rails;Vue.js,jQuery;React.js;Ruby on Rails,Just as welcome now as I felt last year,40.0,11,6
3058,3072,I am a developer by profession,Yes,32.0,22,Weekly,1.020000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Flask,ASP.NET Core,Somewhat less welcome now than last year,40.0,10,7
60813,62040,I am a developer by profession,No,26.0,19,Monthly,2.080000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,Spring,Not applicable - I did not use Stack Overflow ...,40.0,7,6
26166,26262,I am a developer by profession,Yes,27.0,14,Weekly,8.200000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",Django;React.js;Vue.js,NaN,Just as welcome now as I felt last year,40.0,10,Less than 1 year
41925,42643,I am a developer by profession,Yes,NaN,10,Yearly,2.500000e+06,2000000.0,United States,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;Vue.js,ASP.NET;ASP.NET Core;jQuery;Vue.js,NaN,50.0,32,26
29730,29842,I am a developer by profession,Yes,27.0,15,Weekly,1.100000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"A humanities discipline (such as literature, h...",NaN,Angular;jQuery,Just as welcome now as I felt last year,35.0,11,10
47111,48098,"I am not primarily a developer, but I write co...",No,NaN,7,Weekly,1.000000e+150,2000000.0,United States,United States dollar,...,NaN,NaN,NaN,"A social science (such as anthropology, psycho...",NaN,Angular.js;ASP.NET;Drupal;Express;Spring;Symfony,Somewhat less welcome now than last year,40.0,9,9
24756,24848,I am a developer by profession,Yes,33.0,7,Weekly,8.000000e+04,2000000.0,United States,United States dollar,...,Easy,Too short,No,Mathematics or statistics,NaN,NaN,Just as welcome now as I felt last year,40.0,10,5
24007,24097,I am a developer by profession,No,27.0,11,Weekly,1.100000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Angular;Angular.js,Just as welcome now as I felt last year,40.0,9,5
3428,3442,I am a developer by profession,Yes,39.0,15,Weekly,1.250000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;Vue.js,Django,Just as welcome now as I felt last year,40.0,23,17
49854,50882,I am a developer by profession,Yes,NaN,8,Monthly,1.700000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask,Flask,Just as welcome now as I felt last year,50.0,7,3
3373,3387,I am a developer by profession,Yes,28.0,13,Weekly,9.800000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Angular;React.js;Spring,Just as welcome now as I felt last year,35.0,8,5
16769,16829,"I am not primarily a developer, but I write co...",Yes,39.0,10,Monthly,2.000000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,NaN,Mathematics or statistics,NaN,NaN,Just as welcome now as I felt last year,45.0,10,7
1032,1036,I am a developer by profession,Yes,26.0,11,Weekly,6.850000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Vue.js,Angular;ASP.NET;ASP.NET Core;Django;Express;Fl...,A lot more welcome now than last year,40.0,5,3
47550,48546,I am a developer by profession,Yes,47.0,18,Monthly,2.000000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask,Flask,Just as welcome now as I felt last year,40.0,24,24
1784,1793,I am a developer by profession,Yes,27.0,16,Weekly,1.200000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,12,NaN
52077,53155,"I am not primarily a developer, but I write co...",Yes,43.0,10,Weekly,4.992000e+04,2000000.0,United States,United States dollar,...,Easy,NaN,No,"A humanities discipline (such as literature, h...",ASP.NET;Express;Ruby on Rails;Vue.js,Gatsby;React.js,Somewhat more welcome now than last year,40.0,5,2
64035,65502,I am a developer by profession,Yes,NaN,11,Weekly,6.600000e+04,2000000.0,United States,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;Flask;Vue.js,ASP.NET;ASP.NET Core;Express;Flask;Gatsby;Reac...,Just as welcome now as I felt last year,40.0,5,3
24740,24832,I am a developer by profession,Yes,28.0,16,Weekly,8.750000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Spring,React.js;Spring,Just as welcome now as I felt last year,40.0,9,6
24753,24845,I am a developer by profession,Yes,28.0,15,Weekly,1.360000e+05,2000000.0,United States,United States dollar,...,Easy,Too long,No,"A natural science (such as biology, chemistry,...",Express;Flask;React.js,Angular;ASP.NET Core;Express;Flask;React.js,Somewhat less welcome now than last year,45.0,10,7
52160,53238,I am a developer by profession,Yes,28.0,12,Monthly,3.105000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Too long,No,I never declared a major,Django;Express;Flask;React.js;Spring;Vue.js,Angular;Angular.js;ASP.NET;Django;Express;Flas...,Just as welcome now as I felt last year,70.0,16,5
60656,61874,I am a developer by profession,Yes,23.0,21,Weekly,6.500000e+04,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Too long,No,NaN,Express;Gatsby;React.js,Express;Gatsby;Laravel;React.js,Just as welcome now as I felt last year,40.0,2,Less than 1 year
29713,29824,I am a developer by profession,Yes,28.0,10,Weekly,7.400000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Gatsby;React.js;Spring,jQuery;Spring,Just as welcome now as I felt last year,50.0,18,4
15505,15556,I am a developer by profession,Yes,36.0,10,Weekly,9.800000e+04,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,40.0,15,26
50988,52043,I am a developer by profession,Yes,27.0,14,Monthly,2.500000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,Web development or web design,Angular;ASP.NET;ASP.NET Core;Django;Express;Re...,Django;Drupal;Express;Flask;React.js;Ruby on R...,Just as welcome now as I felt last year,90.0,11,6
19159,19232,I am a developer by profession,Yes,30.0,24,Weekly,6.000000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,NaN,Express;Spring,Express;React.js,Just as welcome now as I felt last year,NaN,4,Less than 1 year
42657,43430,I am a developer by profession,Yes,33.0,17,Monthly,1.710000e+05,2000000.0,Italy,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,2
663,665,I am a developer by profession,Yes,24.0,13,Weekly,1.500000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",React.js,Express;React.js;Ruby on Rails,Just as welcome now as I felt last year,40.0,4,Less than 1 year
45898,46863,I am a developer by profession,No,28.0,18,Monthly,2.250000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Vue.js,Vue.js,Just as welcome now as I felt last year,40.0,9,5
48502,49509,I am a developer by profession,Yes,24.0,16,Weekly,5.200000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Express;React.js;Vue.js,Drupal;Express;React.js,Just as welcome now as I felt last year,40.0,6,2
51312,52377,I am a developer by profession,No,38.0,18,Weekly,9.000000e+04,2000000.0,United States,United States dollar,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",NaN,jQuery;React.js,Just as welcome now as I felt last year,45.0,7,Less than 1 year
19502,19578,I am a developer by profession,Yes,22.0,12,Weekly,5.000000e+04,2000000.0,United States,United States dollar,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Express;jQuery;React.js,ASP.NET;jQuery,Just as welcome now as I felt last year,40.0,9,2
60582,61798,I am a developer by profession,Yes,28.0,15,Weekly,1.200000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,35.0,13,8
60478,61693,"I am not primarily a developer, but I write co...",Yes,26.0,17,Weekly,8.000000e+04,2000000.0,United States,United States dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Django;React.js;Symfony,Django;React.js;Vue.js,Just as welcome now as I felt last year,NaN,7,4
3222,3236,I am a developer by profession,No,31.0,25,Weekly,7.300000e+04,2000000.0,United States,United States dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",ASP.NET;ASP.NET Core;jQuery,ASP.NET;ASP.NET Core;jQuery,Just as welcome now as I felt last year,40.0,6,3
3165,3179,I am a developer by profession,Yes,30.0,13,Weekly,7.900000e+04,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core,Angular;ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,40.0,17,10
3163,3177,I am a developer by profession,No,44.0,9,Weekly,1.600000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;React.js;Vue.js,Angular;Express,Just as welcome now as I felt last year,40.0,30,24
1581,1589,"I am not primarily a developer, but I write co...",No,59.0,45,Weekly,9.400000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,14,14
52787,53874,I am a developer by profession,Yes,NaN,12,Monthly,2.000000e+05,2000000.0,United States,United States dollar,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,50.0,9,5
58136,59279,I am a developer by profession,Yes,NaN,12,Monthly,3.000000e+05,2000000.0,Nepal,United States dollar,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Django;Drupal;Flask;Gatsby;Laravel,Angular;Angular.js;ASP.NET;ASP.NET Core;Expres...,A lot more welcome now than last year,40.0,20,14
1616,1624,I am a developer by profession,Yes,48.0,9,Weekly,7.200000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",NaN,jQuery;Laravel,Just as welcome now as I felt last year,40.0,40,25
45012,45947,I am a developer by profession,Yes,27.0,20,Weekly,1.400000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;React.js,Express;Gatsby;React.js;Ruby on Rails,Just as welcome now as I felt last year,50.0,7,5
27521,27623,"I am not primarily a developer, but I write co...",Yes,40.0,9,Monthly,3.300000e+05,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,31,25
63890,65341,I am a developer by profession,Yes,NaN,11,Monthly,3.500000e+05,2000000.0,United States,United States dollar,...,NaN,NaN,NaN,Web development or web design,Angular;ASP.NET;ASP.NET Core;Django;Express;Fl...,Angular;ASP.NET;Django;Express;Flask;React.js;...,Just as welcome now as I felt last year,NaN,17,5
29824,29936,"I am not primarily a developer, but I write co...",Yes,27.0,22,Weekly,4.800000e+04,2000000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask;jQuery,NaN,A lot more welcome now than last year,60.0,5,2
30061,30176,I am a developer by profession,Yes,45.0,14,Monthly,4.200000e+05,2000000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,26,28
19652,19730,I am a developer by profession,Yes,37.0,10,Weekly,1.000000e+05,2000000.0,United States,United States dollar,...,Easy,Too long,No,"A humanities discipline (such as literature, h...",Express;Flask;React.js;Vue.js,Flask;React.js;Vue.js,Just as welcome now as I felt last year,40.0,2,Less than 1 year

In [16]:
df['Age'].nlargest(70)   #to grab particular column highest

14375    279.0
50963     99.0
2625      99.0
26740     99.0
56904     99.0
         ...
55266     73.0
3073      73.0
14395     73.0
3202      73.0
1963      73.0
Name: Age, Length: 70, dtype: float64

In [17]:
df.nlargest(10,'Age')           #to grab all columns

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
14375,14419,I am a developer by profession,Yes,279.0,16,Yearly,4.900000e+04,52968.0,Netherlands,European Euro,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,React.js,Just as welcome now as I felt last year,40.0,7,3
50963,52018,"I used to be a developer by profession, but no...",Yes,99.0,6,NaN,NaN,NaN,Algeria,NaN,...,NaN,NaN,NaN,Web development or web design,NaN,NaN,NaN,NaN,6,NaN
2625,2638,I am a developer by profession,No,99.0,Older than 85,Yearly,1.000000e+49,1000000.0,Canada,Canadian dollar,...,Difficult,Too short,NaN,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core,Angular;ASP.NET Core,Somewhat less welcome now than last year,40.0,More than 50 years,More than 50 years
26740,26839,I am a student who is learning to code,Yes,99.0,17,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Too long,No,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,NaN,4,NaN
56904,58030,I am a student who is learning to code,Yes,99.0,10,NaN,NaN,NaN,India,NaN,...,Difficult,Too long,No,"Computer science, computer engineering, or sof...",NaN,jQuery,A lot more welcome now than last year,NaN,6,NaN
47567,48563,I am a developer by profession,Yes,99.0,11,Monthly,6.900000e+04,11856.0,Kyrgyzstan,Kyrgyzstani som,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",Django;Express;Flask;Laravel;React.js,Express;Flask;Laravel;React.js;Symfony,A lot more welcome now than last year,40.0,7,3
45324,46268,I am a developer by profession,Yes,99.0,18,Monthly,2.800000e+03,36324.0,Lithuania,European Euro,...,Neither easy nor difficult,Too long,NaN,"A business discipline (such as accounting, fin...",Laravel;React.js;Symfony;Vue.js,Laravel,Just as welcome now as I felt last year,40.0,9,4
56725,57850,I am a developer by profession,No,99.0,20,Monthly,NaN,NaN,Serbia,European Euro,...,Difficult,Too long,No,"Computer science, computer engineering, or sof...",Express;Spring;Vue.js,Angular;Angular.js;ASP.NET;jQuery;React.js;Rub...,NaN,150.0,20,30
5926,5950,I am a developer by profession,Yes,99.0,10,Monthly,2.500000e+03,30000.0,South Korea,United States dollar,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",React.js;Ruby on Rails,React.js;Ruby on Rails,Just as welcome now as I felt last year,45.0,15,8
52838,53925,I code primarily as a hobby,Yes,99.0,Younger than 5 years,NaN,NaN,NaN,United Kingdom,NaN,...,Easy,Too short,NaN,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,A lot less welcome now than last year,NaN,More than 50 years,NaN

In [18]:
df.nsmallest(20,'Age')

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
64383,52582,NaN,Yes,1.0,Younger than 5 years,NaN,NaN,NaN,Indonesia,NaN,...,Easy,Too short,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,NaN,1,1
20042,20122,I am a developer by profession,Yes,1.0,20,Monthly,1.000000e+11,1000000.0,Indonesia,Indonesian rupiah,...,Neither easy nor difficult,Too long,Yes,"Computer science, computer engineering, or sof...",Vue.js,Angular,Somewhat less welcome now than last year,9.000000,5,1
58292,59438,I am a developer by profession,Yes,1.0,Younger than 5 years,Monthly,6.000000e+06,5268.0,Indonesia,Indonesian rupiah,...,Neither easy nor difficult,Too long,No,NaN,ASP.NET Core;Vue.js,Angular.js;Express,Somewhat more welcome now than last year,50.000000,3,2
25061,25154,I am a developer by profession,Yes,1.0,12,Yearly,7.000000e+04,75669.0,Netherlands,European Euro,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core;React.js,Angular;ASP.NET Core;Express;jQuery;Laravel;Re...,A lot more welcome now than last year,65.000000,14,7
12271,12310,I am a student who is learning to code,Yes,1.0,23,NaN,NaN,NaN,Nigeria,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Django,Django,Somewhat less welcome now than last year,NaN,Less than 1 year,NaN
54687,55797,I am a developer by profession,Yes,1.0,Younger than 5 years,Monthly,4.000000e+00,48.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,Yes,NaN,Angular,Angular,A lot less welcome now than last year,NaN,Less than 1 year,Less than 1 year
8793,8825,I am a student who is learning to code,Yes,3.0,26,NaN,NaN,NaN,India,NaN,...,Easy,Too long,NaN,"Computer science, computer engineering, or sof...",Spring,Angular;Angular.js;jQuery;React.js,NaN,NaN,3,NaN
11600,11638,I am a student who is learning to code,Yes,5.0,Younger than 5 years,NaN,NaN,NaN,Viet Nam,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Ruby on Rails,Django,A lot less welcome now than last year,NaN,1,NaN
26952,27051,I code primarily as a hobby,Yes,7.0,13,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;React.js;Vue.js,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,NaN,NaN,7,NaN
25432,25526,I am a developer by profession,No,10.0,9,NaN,NaN,NaN,Colombia,NaN,...,Neither easy nor difficult,Too long,No,NaN,Laravel;React.js,Angular;Angular.js;ASP.NET,Just as welcome now as I felt last year,NaN,17,NaN
30810,30927,I am a developer by profession,Yes,10.0,20,Monthly,NaN,NaN,India,Indian rupee,...,Easy,Appropriate in length,No,"Another engineering discipline (such as civil,...",Angular;Angular.js;Gatsby,Gatsby;React.js;Spring,Somewhat more welcome now than last year,45.000000,1,9
17852,17916,I code primarily as a hobby,Yes,10.0,27,NaN,NaN,NaN,Mexico,NaN,...,Difficult,Too long,No,NaN,Angular.js;ASP.NET Core;Flask;Gatsby;jQuery;Ru...,Express;Gatsby;Symfony,NaN,NaN,Less than 1 year,NaN
26988,27087,I code primarily as a hobby,Yes,10.0,5,NaN,NaN,NaN,Serbia,NaN,...,Easy,Appropriate in length,No,Web development or web design,NaN,NaN,A lot more welcome now than last year,NaN,4,NaN
24525,24616,I am a developer by profession,Yes,10.0,10,Yearly,0.000000e+00,0.0,United Kingdom,United States dollar,...,Easy,Too long,NaN,NaN,NaN,NaN,NaN,1.001122,5,2
24439,24530,I code primarily as a hobby,Yes,11.0,6,NaN,NaN,NaN,Canada,NaN,...,Neither easy nor difficult,Too long,No,NaN,ASP.NET Core;Express;React.js,Express;Flask;React.js,Just as welcome now as I felt last year,NaN,NaN,NaN
60173,61377,I code primarily as a hobby,Yes,11.0,5,NaN,NaN,NaN,India,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,NaN,Django;Flask,Just as welcome now as I felt last year,NaN,7,NaN
55922,57043,I am a student who is learning to code,Yes,11.0,8,NaN,NaN,NaN,Turkey,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Django,NaN,Somewhat more welcome now than last year,NaN,3,NaN
767,769,I code primarily as a hobby,Yes,11.0,9,NaN,NaN,NaN,United States,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,NaN,NaN,Not applicable - I did not use Stack Overflow ...,NaN,3,NaN
4965,4983,I am a student who is learning to code,No,11.0,8,NaN,NaN,NaN,United States,NaN,...,Easy,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,2,NaN
43590,44431,I code primarily as a hobby,Yes,11.0,6,NaN,NaN,NaN,United States,NaN,...,Easy,Appropriate in length,No,I never declared a major,NaN,NaN,Somewhat less welcome now than last year,NaN,5,NaN

In [19]:
df['Age'].nsmallest(10)

64383     1.0
20042     1.0
58292     1.0
25061     1.0
12271     1.0
54687     1.0
8793      3.0
11600     5.0
26952     7.0
25432    10.0
Name: Age, dtype: float64

In [28]:
#df[['Age','ConvertedComp'],.nlargest(10),.nsmallest(5)]
df.sort_values(by=['Age','ConvertedComp'],ascending=[False,True])
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
14375,14419,I am a developer by profession,Yes,279.0,16,Yearly,4.900000e+04,52968.0,Netherlands,European Euro,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,React.js,Just as welcome now as I felt last year,40.0,7,3
47567,48563,I am a developer by profession,Yes,99.0,11,Monthly,6.900000e+04,11856.0,Kyrgyzstan,Kyrgyzstani som,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",Django;Express;Flask;Laravel;React.js,Express;Flask;Laravel;React.js;Symfony,A lot more welcome now than last year,40.0,7,3
5926,5950,I am a developer by profession,Yes,99.0,10,Monthly,2.500000e+03,30000.0,South Korea,United States dollar,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",React.js;Ruby on Rails,React.js;Ruby on Rails,Just as welcome now as I felt last year,45.0,15,8
45324,46268,I am a developer by profession,Yes,99.0,18,Monthly,2.800000e+03,36324.0,Lithuania,European Euro,...,Neither easy nor difficult,Too long,NaN,"A business discipline (such as accounting, fin...",Laravel;React.js;Symfony;Vue.js,Laravel,Just as welcome now as I felt last year,40.0,9,4
2625,2638,I am a developer by profession,No,99.0,Older than 85,Yearly,1.000000e+49,1000000.0,Canada,Canadian dollar,...,Difficult,Too short,NaN,"Computer science, computer engineering, or sof...",Angular;ASP.NET Core,Angular;ASP.NET Core,Somewhat less welcome now than last year,40.0,More than 50 years,More than 50 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64425,60055,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64431,61121,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64434,61570,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64436,61918,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64440,62605,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.sort_values(by=['Country','ConvertedComp'],ascending=[True,False],inplace=True)
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
63925,65381,I am a developer by profession,No,NaN,8,Weekly,8.740000e+09,1000000.0,Afghanistan,Afghan afghani,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,30,35
63993,65456,I am a developer by profession,Yes,NaN,Younger than 5 years,Weekly,5.521171e+09,1000000.0,Afghanistan,Afghan afghani,...,NaN,NaN,NaN,"Information systems, information technology, o...",NaN,NaN,NaN,NaN,More than 50 years,More than 50 years
61540,62788,I am a developer by profession,Yes,NaN,NaN,Weekly,8.000000e+06,1000000.0,Afghanistan,Albanian lek,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38261,38672,I am a developer by profession,No,NaN,5,Monthly,1.225000e+06,231192.0,Afghanistan,Russian ruble,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,40
28270,28374,I am a developer by profession,Yes,NaN,7,Yearly,1.300000e+05,130000.0,Afghanistan,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,NaN,NaN,Just as welcome now as I felt last year,NaN,17,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64425,60055,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64431,61121,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64434,61570,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64436,61918,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64440,62605,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df[['Country','ConvertedComp']].head(30)

           Country  ConvertedComp
63925  Afghanistan      1000000.0
63993  Afghanistan      1000000.0
61540  Afghanistan      1000000.0
38261  Afghanistan       231192.0
28270  Afghanistan       130000.0
9806   Afghanistan        23328.0
62520  Afghanistan        23328.0
50812  Afghanistan        20950.0
50469  Afghanistan        20220.0
43642  Afghanistan        18660.0
15371  Afghanistan        18000.0
2918   Afghanistan        16335.0
26443  Afghanistan        13992.0
56146  Afghanistan        10884.0
26676  Afghanistan         8016.0
30451  Afghanistan         5448.0
30405  Afghanistan         4668.0
28704  Afghanistan         4509.0
34842  Afghanistan         4356.0
26758  Afghanistan         2328.0
33755  Afghanistan         1860.0
35602  Afghanistan          780.0
17985  Afghanistan          109.0
35168  Afghanistan            0.0
54129  Afghanistan            NaN
43157  Afghanistan            NaN
51804  Afghanistan            NaN
7586   Afghanistan            NaN
57044  Afghanistan            NaN
7678   Afghanistan            NaN

In [ ]:
#doubt after sort index position only sort? bcz after change index sort is deisappear
#doubt .nlargest,.nsmallesta 2 columns use panalama?