# Python Basics

## 1. First Steps

In this session you will learn the Basics of Python.

In [ ]:
5 #print a number

In [1]:
5+2 #addition

7

In [2]:
5-1 #substraction

4

In [3]:
5*2 #multiplication

10

In [4]:
5**2 #exponentiation

25

In [5]:
5/2 #Division

2.5

In [6]:
type(5) #check type of data with function type()

int

In [7]:
type(2.5)

float

In [8]:
"Dog" #creating a string with quotes

'Dog'

In [9]:
type("Dog")

str

In [10]:
Dog #not a string, not definded variable

NameError: name 'Dog' is not defined

In [11]:
5+2 #by default jupyter only prints out last statement in a cell
4-1

3

In [12]:
print(5+2) #use print() to print out all operations you like
4-1

7

3

In [13]:
print(5+2,4-1) #print many operations with one print() call

7 3

## 2. Variables

In [14]:
a = 5 #assign integer object 5 to the variable a

In [15]:
a #print a

5

In [16]:
print(a) #print a

5

In [17]:
a = 7 #change the value of a, assign new object to a

In [18]:
a

7

In [19]:
b = 2 #assign integer object 2 to variable b

In [20]:
a #only b is printed out
b

2

In [21]:
print(a)
b

7

2

In [22]:
print(a,b) #print both variables in one line

7 2

In [23]:
print(a,b,sep = '\n') #print both variables with line break

7
2

In [25]:
a+b #addition

9

In [26]:
a-b #substraction

5

In [27]:
a*b #multiplication

14

In [28]:
c = a/b #division
c

3.5

In [30]:
c = a//b #floar division--it give whole no
c

3

In [32]:
type(c) #division of two integers created float object

int

In [33]:
d = "Dog" #assigning the string "Dog" to variable d

In [34]:
d #printing d

'Dog'

In [35]:
type(d) #check out the data type of d

str

In [36]:
my_favourite_dog = "Lassie"

In [37]:
my_favourite_dog

'Lassie'

In [38]:
"Dog" = "Spike" #string object cannot serve as variable

SyntaxError: cannot assign to literal (<ipython-input-38-1aab7d0104cb>, line 1)

In [39]:
5 = "Spike" #integer/float object cannot serve as variable

SyntaxError: cannot assign to literal (<ipython-input-39-cd24f3cce654>, line 1)

In [40]:
d5 = "Spike"

In [41]:
d5

'Spike'

In [42]:
e = 10 #int object 10 assigned to e / reference from e to 10
e

10

In [43]:
f=e #same int object 10 also assigned to f / reference from f to 10
f

10

In [44]:
e = 15 #new reference from e to 15, does not change reference of f
e

15

In [45]:
f

10

## 3. Integers and Floats

In [46]:
a = 5 #assign integer object 5 to a

In [47]:
b = 2 #assign integer object 2 to b

In [48]:
print(type(a), type(b)) #check data type of a and b

<class 'int'> <class 'int'>

In [49]:
a+b #addition

7

In [50]:
b+a #addition

7

In [51]:
a-b #substraction

3

In [52]:
b-a #substraction (negative numbers)

-3

In [53]:
a*b #multiplication

10

In [54]:
c = a/b #division, creating float object
c

2.5

In [55]:
type(c)

float

In [62]:
a=5
b=2
c=a/b
c

2.5

In [63]:
c.as_integer_ratio() #expressing float as ratio of integers -> calling method as_integer_ratio() on float object c

(5, 2)

In [57]:
c.is_integer()

False

In [64]:
b.denominator

1

In [65]:
b.numerator

2

In [66]:
d = 11/3
d

3.6666666666666665

In [67]:
d.as_integer_ratio()

(8256599316845909, 2251799813685248)

In [68]:
round(d,2) #rounding to a given precision in decimal digits

3.67

In [69]:
int(d) #transfrom float to integer

3

In [70]:
float(a) #transform integer to float

5.0

In [71]:
type(5.) #transform integer to float

float

In [72]:
"5" #transform integer to string

'5'

In [73]:
type("5")

str

In [74]:
type(str(5)) #transform integer to string

str

## 4. Strings

In [75]:
c = "5" #assign string object "5" to variable c
type(c)

str

In [76]:
5+2

7

In [77]:
c+2 #cannot add string and integer

TypeError: can only concatenate str (not "int") to str

In [78]:
d = "Dog" #assign string object "Dog" to variable d
d

'Dog'

In [79]:
e = "Cat" #assign string object"Cat" to variable e
e

'Cat'

In [80]:
print(type(d), type(e)) #check data type of d and e

<class 'str'> <class 'str'>

In [81]:
d+e #addition of strings is defined (concatenation)

'DogCat'

In [82]:
e+d

'CatDog'

In [83]:
d-e #substraction of strings not defined

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [84]:
d*e  #multiplication of strings not defined

TypeError: can't multiply sequence by non-int of type 'str'

In [85]:
d+5 #cannot add string to integer/float

TypeError: can only concatenate str (not "int") to str

In [86]:
d+str(5) #addition of two strings

'Dog5'

In [87]:
str(5)+d #addition of two strings

'5Dog'

In [88]:
d*5 #multiplication of string

'DogDogDogDogDog'

In [89]:
5*d #multiplication of string

'DogDogDogDogDog'

In [90]:
d*str(5) #multiplication of strings not defined

TypeError: can't multiply sequence by non-int of type 'str'

In [91]:
statement = "I "+"have "+"5 "+"dogs." #concatenate many strings to one string
statement

'I have 5 dogs.'

In [92]:
animal = "Cats" #assign string to variable
amount = 8      #assign integer to variable

In [93]:
print("I have {} {}.".format(amount,animal)) #string formatting

I have 8 Cats.

In [96]:
del(d) #deleting string 
d

NameError: name 'd' is not defined

In [98]:
d = "Dog"
d

'Dog'

In [99]:
len(d) #return number of items in string -> built in function len()

3

In [100]:
len(statement) #return number of items in string

14

In [101]:
type(statement)

str

In [102]:
len(23) #function len() not defined for integer/float

TypeError: object of type 'int' has no len()

In [103]:
statement = statement.upper()
statement#convert all items to uppercase -> built in method str.upper()

'I HAVE 5 DOGS.'

In [104]:
statement = statement.lower() #convert all items to lowercase -> built in method str.lower()
statement

'i have 5 dogs.'

In [105]:
statement = statement.capitalize() #capitalize first character
statement

'I have 5 dogs.'

In [106]:
l = list(statement) #transforming string into list with function list() -> seperating all elements
l

['I', ' ', 'h', 'a', 'v', 'e', ' ', '5', ' ', 'd', 'o', 'g', 's', '.']

In [107]:
type(l) #check data type

list

## 5 List (Part 1)

In [108]:
l = [1, 2, 3, 4] #creating a list with square brackets containing integers
l

[1, 2, 3, 4]

In [109]:
type(l) #check data type

list

In [110]:
m = [1.5, 2.4, 3.7] #creating a list with floats
m

[1.5, 2.4, 3.7]

In [111]:
n = ["Dog", "Cat", "Mouse"]  #creating a list with strings
n

['Dog', 'Cat', 'Mouse']

In [112]:
o = [1, 2.4, "Dog"] #creating a list with different data types / objects
o

[1, 2.4, 'Dog']

In [113]:
len(l) #counting amount of elements in list

4

In [114]:
p = list("This is a string!") #transforming string to list, everthing can be a list element
p

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '!']

In [115]:
type(p)  #check data type

list

In [116]:
len(p) #counting amount of elements in list

17

In [117]:
sum(l) #sum of numeric values in list

10

In [118]:
l

[1, 2, 3, 4]

In [119]:
sum(m)  #sum of numeric values in list

7.6

In [120]:
sum(n) #does not work with str objects

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [121]:
l

[1, 2, 3, 4]

In [124]:
l.append(5) #add another objects to the end -> built in method list.append()
l

[1, 2, 3, 4, 5, 5]

In [125]:
l.count(5) #number of occurences of element -> built in method list.count()

2

In [126]:
l.remove(5) #remove first occurence of element -> built in method list.remove()
l

[1, 2, 3, 4, 5]

In [127]:
l.count(5)

1

In [128]:
l.reverse() #reverse sequence of elements  -> built in method list.reverse()
l

[5, 4, 3, 2, 1]

In [129]:
l.sort(reverse = False) #sorting all elements  -> built in method list.sort()
l

[1, 2, 3, 4, 5]

In [131]:
b=l.sort(reverse = False)
b

In [133]:
type(b)

NoneType

In [134]:
l

[1, 2, 3, 4, 5]

In [138]:
l.sort(reverse=True) #list inplace method
l

[5, 4, 3, 2, 1]

In [139]:
b=l
type(b)

list

In [140]:
b

[5, 4, 3, 2, 1]

In [141]:
l + [6,7,8] #adding / concatenating two lists

[5, 4, 3, 2, 1, 6, 7, 8]

In [142]:
l - [5] #substraction of lists not defined

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [143]:
l

[5, 4, 3, 2, 1]

In [144]:
l*2 #concatenates two copies / no element-wise multiplication!

[5, 4, 3, 2, 1, 5, 4, 3, 2, 1]

In [145]:
l/2 #not defined

TypeError: unsupported operand type(s) for /: 'list' and 'int'

## 6. List (Part 2)

In [146]:
l = [1,2,3,4,5]

In [147]:
l[1] #getting the second list element at index position 1 (zero-based indexing!)

2

In [148]:
l[0] #getting the first list element at index position 0 !

1

In [149]:
l[4] #getting the fifth list element at index position 4

5

In [150]:
l[-1] #getting the last list element at index position -1

5

In [151]:
l[-2] #getting the second last list element at index position -2

4

In [152]:
l[-5] #getting the fifth last list element at index position -5

1

In [154]:
l

[1, 2, 3, 4, 5]

In [155]:
l.index(5) #getting the index position of the first occurence of element 5

4

In [156]:
a=['a','b',2,4.0]
a.index('b')

1

In [157]:
l[0] = 100 #change element in list (lists are mutable)
l

[100, 2, 3, 4, 5]

In [158]:
l[-1] = 101
l

[100, 2, 3, 4, 101]

In [159]:
l[1:4] #slice from second element at index position 1 (incl.) till fifth element at index position 4 (excl.)

[2, 3, 4]

In [160]:
l[1:5] #from second (incl.) till sixth (excl.)

[2, 3, 4, 101]

In [161]:
l[1:] #from second (incl.) till last (incl.)

[2, 3, 4, 101]

In [162]:
l[0:3]  #from first (incl.) till fourth (excl.)

[100, 2, 3]

In [163]:
l[:3]  #from first (incl.) till fourth (excl.)

[100, 2, 3]

In [164]:
l[1:3] #second and third (incl.)

[2, 3]

In [165]:
l[:] #all

[100, 2, 3, 4, 101]

In [166]:
l = [1,2,3,4,5,6,7,8,9,10]

In [167]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [168]:
l[::2] #every second element beginning from first (incl.)

[1, 3, 5, 7, 9]

In [169]:
l[::3] #every third element beginning from first (incl.)

[1, 4, 7, 10]

In [170]:
l[1::2] #every second element beginning from second (incl.)

[2, 4, 6, 8, 10]

In [171]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [172]:
l[4:7] = [50, 51, 52] #assigning many new values to many elements
l

[1, 2, 3, 4, 50, 51, 52, 8, 9, 10]

In [173]:
l[4:7] = 50 #assigning one new value to many elements (broadcasting) -> error

TypeError: can only assign an iterable

In [174]:
l[4] = 50 #manual "broadcasting"
l[5] = 50
l[6] = 50
l

[1, 2, 3, 4, 50, 50, 50, 8, 9, 10]

In [175]:
del l[0] #delete element at certain index position
l

[2, 3, 4, 50, 50, 50, 8, 9, 10]

In [176]:
players = [["Andy", 1.86, 82], ["Ben", 1.78, 65], ["Tom", 1.92, 101], ["Mike",1.82, 85]] #creating nested list
players

[['Andy', 1.86, 82], ['Ben', 1.78, 65], ['Tom', 1.92, 101], ['Mike', 1.82, 85]]

In [177]:
print(type(players),len(players), sep = '\n') #list containing 4 list objects

<class 'list'>
4

In [182]:
players

[['Andy', 1.86, 82], ['Ben', 1.78, 65], ['Tom', 1.92, 101], ['Mike', 1.82, 85]]

In [178]:
players[0] #first nested list at index position 0

['Andy', 1.86, 82]

In [179]:
players[-1] #last nested list at index position -1

['Mike', 1.82, 85]

In [180]:
players[0][1] #height of first player

1.86

In [181]:
names = [players[0][0],players[1][0],players[2][0],players[3][0]] #creating a list of all names manually
names

['Andy', 'Ben', 'Tom', 'Mike']

In [183]:
x = [1,2,3,4] #assigning list to variable x

In [184]:
y = x #assigning same list to variable y
y

[1, 2, 3, 4]

In [185]:
x[0] = 100 #changing first element of x

In [186]:
x

[100, 2, 3, 4]

In [187]:
y #y has also changed as it references to same list object as x

[100, 2, 3, 4]

In [188]:
d = "Dog" #string "Dog" contains multiple elements ("D", "o", "g") 
d

'Dog'

In [189]:
d[0] #first element of string

'D'

In [190]:
d[-1] #last element of string

'g'

In [191]:
d[1] = "a" #string object is immutable!!!

TypeError: 'str' object does not support item assignment

In [197]:
x=[1,2,3]
y=x

In [198]:
x[0]=4
x

[4, 2, 3]

In [199]:
y

[4, 2, 3]

## 7. Tuple

In [192]:
a = (1,2,3) #creating a tuple with parantheses
a

(1, 2, 3)

In [194]:
type(a)

tuple

In [195]:
b = 1,2,3 #creating a tuple without parantheses
b

(1, 2, 3)

In [196]:
type(b)

tuple

In [200]:
c = (1, 2.5, "Dog") #tuple with different data types
c

(1, 2.5, 'Dog')

In [201]:
a[1] #indexing works

2

In [202]:
c[1:] #slicing works

(2.5, 'Dog')

In [203]:
a * 2 #same behavior as list

(1, 2, 3, 1, 2, 3)

In [204]:
a +(4,5,6) #same behavior as list

(1, 2, 3, 4, 5, 6)

In [205]:
a[0] = 100 #tuple is immutable!

TypeError: 'tuple' object does not support item assignment

In [208]:
l = [1,2,3,4,5]

In [211]:
b=enumerate(l) #enumerate object ("stores" index, value pairs of list l)

In [213]:
list(b)

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [210]:
m = list(enumerate(l)) #return index,value pairs of list l as tuples
m

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [214]:
first_tuple = m[0] #first index, value tuple
first_tuple

(0, 1)

In [215]:
index, value = first_tuple #unpacking tuples
print(index, value)

0 1

In [216]:
b=enumerate('dog')
b

In [219]:
b=list(enumerate('dog'))
print(b)

[(0, 'd'), (1, 'o'), (2, 'g')]

In [291]:
#b='dog'
b=list(enumerate('dog'))
print(b)

[(0, 'd'), (1, 'o'), (2, 'g')]

In [293]:
for items,values in enumerate('dog'):
    print(items)
    print(values)
    print('\n')

0
d


1
o


2
g

In [220]:
c,d=b[0]
print(c,d)

0 d

In [221]:
l

[1, 2, 3, 4, 5]

In [222]:
tuple(l) #transforming list into tuple

(1, 2, 3, 4, 5)

## 8. Set

In [223]:
l = [1,2,2,3,4,5,5,5,6,7,8,9,9,9,9] #creating list with duplicates
l

[1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 9, 9, 9]

In [224]:
s = set(l) #transforming list to set -> removing duplicates, collection of unique elements
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [225]:
type(s) #check data type

set

In [226]:
t = {11,12,13,13,14,15,15} #create set with {}

In [227]:
t #duplicates removed

{11, 12, 13, 14, 15}

In [228]:
len(t) #count number of unique elements

5

In [229]:
t.add(6) #add another element

In [230]:
t

{6, 11, 12, 13, 14, 15}

In [231]:
t.remove(12) #remove element

In [232]:
t

{6, 11, 13, 14, 15}

In [233]:
t[0] #indexing/slicing not supported!

TypeError: 'set' object is not subscriptable

In [234]:
u = {"Dog", "Cat", "Mouse", "Dog", "Elephant"} #works with string objects as well
u

{'Cat', 'Dog', 'Elephant', 'Mouse'}

## 9. Operators and Booleans

### Arithmetic Operators

In [235]:
a = 5
b = 2
c = 7

In [236]:
a + b #addition

7

In [237]:
a - b #substraction

3

In [238]:
a * b #multiplication

10

In [239]:
a / b #division

2.5

In [240]:
a // b #floor-divide

2

In [241]:
a ** b  #exponentiation

25

In [242]:
a % b #modulo

1

### Comparison Operators

In [243]:
a = 5
b = 2
c = 7

In [244]:
a == b #True if a equal b, no assignment!

False

In [245]:
a != b #True if a not equal b

True

In [246]:
a < b #True if a less than b

False

In [247]:
a > b #True if a greater b

True

In [248]:
a+b <= c #True if sum of a and b less or equal c

True

### Booleans

In [249]:
type(True) #data type bool

bool

In [250]:
int(True) #True stands numerically for 1

1

In [251]:
int(False) #False stands numerically for 0

0

In [252]:
bool(1) #casting an int/float unequal 0 into boolean object gives True

True

In [253]:
bool(5)  #casting an int/float unequal 0 into boolean object gives True

True

In [254]:
bool(0) #casting 0 into boolean object gives False

False

In [255]:
5 * True #True behaves like 1

5

In [256]:
5 + True #True behaves like 1

6

In [257]:
5 * False #False behaves like 0

0

In [258]:
d = (5==2) #boolean objects can be assigned to variables
d

False

In [259]:
5 * d

0

In [260]:
l = [1,2,"Cat", 1.5, True] #different data types can be stored in a list, also booleans

In [261]:
l

[1, 2, 'Cat', 1.5, True]

### Logical Operators (and or not)

In [262]:
True and True #Logical AND: True if all conditions are True

True

In [263]:
(5 > 2) and (7 > 2) #True if all conditions are True

True

In [264]:
True & True #& works same way in most cases

True

In [265]:
(5 > 2) & (7 > 2) # & works same way in most cases

True

In [266]:
True & False

False

In [267]:
(5 > 2) & (7 < 2)

False

In [268]:
False & False

False

In [269]:
(5 < 2) & (7 < 2)

False

In [270]:
True or True #Logical OR: True if at least one condition is True

True

In [271]:
True | True # | works as well in most cases

True

In [272]:
(5 > 2) | (7 > 2)

True

In [273]:
True | False

True

In [274]:
(5 > 2) | (7 < 2)

True

In [275]:
False | False

False

In [276]:
not False #True if False

True

In [277]:
not True #False if True

False

In [278]:
not((not(5 > 2)) | (7 < 2))

True

## 10 Conditional Statements (if, elif, else, while)

### if, elif, else

In [279]:
a = 5
b = 5

In [280]:
if a < 10:
    print("a is less than 10")
else:
    print("a is not less than 10")

a is less than 10

In [281]:
if a > b: #check if conditional statment is True or False -> False
    print("a is greater than b!") #if conditional statment is True, do this:
elif a < b: #if conditional statment is False, check if this new statement is True ->False
    print("a is less than b!") #if new conditional statment is True, do this:
else: #for all other cases:
    print("a is equal b!") #do this!

a is equal b!

In [1]:
Price = 1000
discount_intervals = [50, 100, 200]
discounts = [0, 0.1, 0.2, 0.25]

In [2]:
if Price < discount_intervals[0]: #if price less than 50:
    Price = Price*(1-discounts[0])#no discount
    print(Price)
elif Price < discount_intervals[1]: #if price between 50 and 100(excl.):
    Price = Price*(1-discounts[1]) # 10% discount
    print(Price)
elif Price < discount_intervals[2]: #if price between 100 and 200 (excl.):   
    Price = Price*(1-discounts[2]) # 20% discount
    print(Price)
else: #if price greater or equal 200:
    Price = Price*(1-discounts[3]) # 25% discount
    print(Price)
print("The after-discount price is {}!".format(Price))

750.0
The after-discount price is 750.0!

### while loop

In [3]:
a = 10

In [4]:
if a < 20: #check if conditional statement is True or False -> True
    a += 1 #if conditional statement is True, do this
    print(a) #and this

11

In [5]:
a = 10 
while a < 20: #check if conditional statement is True or False -> True
    a += 1 #if conditional statement is True, do this
    print(a) #and this, and repeat process

11
12
13
14
15
16
17
18
19
20

In [6]:
a

20

In [7]:
max_weight = 1000 #max weight allowed
weight = 1100 #actual weight
reduction_steps = 17 #reduced weight per step (e.g. weight of one container)

while weight > max_weight: #check if freight is too high
    print("The Freight with {} tons is too heavy!".format(weight)) #if weight too high, give warning message...
    weight -= reduction_steps #...and reduce weight by unloading one container -> Check again and again!
print("The Freight with {} tons is OK!".format(weight)) #give me the final weight that is acceptable

The Freight with 1100 tons is too heavy!
The Freight with 1083 tons is too heavy!
The Freight with 1066 tons is too heavy!
The Freight with 1049 tons is too heavy!
The Freight with 1032 tons is too heavy!
The Freight with 1015 tons is too heavy!
The Freight with 998 tons is OK!

## 11 For Loops

In [36]:
l = [1,2,3,4]

In [37]:
l*2 #no element-wise multiplication!

[1, 2, 3, 4, 1, 2, 3, 4]

In [38]:
for element in l: #iteration over all elements in list l
    print(element) #with each element, do the following:

1
2
3
4

In [39]:
for i in l:
    print(i*2) #no limitations on the actions, here square each element

2
4
6
8

In [40]:
for i in l:
    j = i*2 #assign new variable before printing
    print(j)

2
4
6
8

In [41]:
j

8

In [13]:
count = 0 #same as len(l)
for _ in l: 
    count += 1

In [14]:
count

4

In [15]:
d = "Dog"
d

'Dog'

In [19]:
count=0
for element in d: #iteration over string object
    count+=1
    print(element)
print('the loop running count is {}'.format(count))

D
o
g
the loop running count is 3

In [20]:
for i in d: #iteration over string object(2)
    print(i.upper())

D
O
G

In [21]:
count = 0 #iteration over string object(3)
for _ in d:
    count = count+1

In [22]:
count

3

In [23]:
g = range(1,5) #creating a range object ("storing" integers from 1 (incl.) to 5 (excl.))
g

range(1, 5)

In [24]:
type(g) #range object

range

In [25]:
list(g) #calling a range object by creating a list

[1, 2, 3, 4]

In [26]:
for i in range(1,5): #iterating from 1 (incl.) till 5 (excl.) -> 4 iterations 
    print(i)

1
2
3
4

In [27]:
for i in range(5): #creating 5 iterations
    print(i)

0
1
2
3
4

In [28]:
for i in range(0,10,3): #from 0 to 10 (excl.), every third element
    print(i)

0
3
6
9

In [ ]:
for i in range(1,11): #flexible operations
    print(i*2)

In [34]:
for i in range(1,11):
    square = i**2 
    print(square)

1
4
9
16
25
36
49
64
81
100

In [33]:
square

100

In [29]:
l = [] #store square numbers from 1 till 10 in a list
for i in range(1,11):
    square = i**2  
    l.append(square)
    print(l)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
[i**2 for i in range(1,11)] #List Comprehension does the same job!

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
count = 0
num=0#count all numbers between 0 and 10000 that are divisible by 2 and 5 without remainder
for i in range(100+1):
    if (i%2==0) & (i%5==0):
        print(i)
    count+=1

0
10
20
30
40
50
60
70
80
90
100

In [52]:
count

101

### continue, break and pass

In [53]:
l = [1,3,5,7,10,11,13,14,15]
l

[1, 3, 5, 7, 10, 11, 13, 14, 15]

In [54]:
for i in l: #finding the first even element in l
    if i%2 == 0:
        print("The first even element is {}!".format(i))
        break #if the condition is met once, stop iterating!
    else: 
        print("{} is odd!".format(i))

1 is odd!
3 is odd!
5 is odd!
7 is odd!
The first even element is 10!

In [55]:
for i in l: #finding the first even element in l
    if i%2 == 0:
        print("The first even element is {}!".format(i))
        break

The first even element is 10!

In [56]:
for i in l: #finding the first even element in l
    if i%2 != 0:
        pass #do nothing, ignore
    else: 
        print("The first even element is {}!".format(i))
        break

The first even element is 10!

In [ ]:
for i in l: #finding the first even element in l
    if i%2 != 0:
        continue
        print(i)
    else: 
        print("The first even element is {}!".format(i))
        break

In [58]:
l

[1, 3, 5, 7, 10, 11, 13, 14, 15]

In [61]:
for i in l: #finding the first even element in l
    if i == 10:
        #pass
        continue #ignore and continue immediately with next element
        print(f'condition meet {i} ')
    if i%2 == 0:
        print("The first even element is {}!".format(i))
        break
    else: 
        print("{} is odd!".format(i))

1 is odd!
3 is odd!
5 is odd!
7 is odd!
11 is odd!
13 is odd!
The first even element is 14!

## 12 Generating Random Numbers

In [ ]:
import random #imports random module

In [ ]:
random.random() #generates random float in interval 0 to 1

In [ ]:
random.seed(10) #setting a random-seed and generate "pseudo-random" numbers 
random.random()

In [ ]:
random.randint(1,6) #generating a random integer in range 1 to 100 (both including)

In [ ]:
l = [] #creating a list with 10 random integers in range 1 to 100 (both including)
random.seed(123)
for _ in range(10):
    random_int = random.randint(1,6)
    l.append(random_int)

In [ ]:
l

In [ ]:
len(l)

In [ ]:
random.normalvariate(10, 5) #creating normal distributed random numberswith mean = 10 and std = 5

## 13 User defined Functions

In [ ]:
l = [3,2,5,6] #create list l

In [ ]:
print(l) #function print()

In [ ]:
l = sorted(l) #function sorted()

In [ ]:
l.append(7) #built-in list method

In [ ]:
len(l) #function len()

In [ ]:
min(l) #function min()

In [ ]:
max(l) #function max()

In [ ]:
sum(l) #function sum()

In [ ]:
mean(l) #function mean() -> does not exist

In [ ]:
def mean(x):
    mean = sum(x) / len(x) #calculating mean(l) with sum(l) / len(l)
    return mean

In [ ]:
def mean(x): #defining function mean() with parameter x, which calculates the mean value of sequence x
    return sum(x) / len(x)

In [ ]:
mean(l) #calling the function by passing the argument l to the function

In [ ]:
mean(x = l) #same as above (argument l for parameter x)

In [ ]:
t = (4,5,6,7)

In [ ]:
mean(t) #works as well with tuples

In [ ]:
a = 8

In [ ]:
a**2

In [ ]:
def square(x): #parameter x without default value
    return x**2

In [ ]:
square(4) #calling the function by passing the argument 4

In [ ]:
square(x = 4) #same as above

In [ ]:
square() #no default value defined -> Error

In [ ]:
def square2(x = 2): #parameter x with default value
    return x**2

In [ ]:
square2() #can be called with default value 2

In [ ]:
square2(4) #can be called with new argument 4

In [ ]:
square2(x = 4) #same as above

In [ ]:
def power(x,y): #function can have more than one parameter 
    return x**y

In [ ]:
power(2,7) #call the function with argument 2 for parameter x and argument 7 for parameter y (2 positional arguments)

In [ ]:
power(x = 2, y = 7) #same as above (2 keyword arguments)

In [ ]:
power(y = 7, x = 2) #can change position of keyword arguments

In [ ]:
power(x = 2, 7) #keyword arguments must follow positional arguments!!!

In [ ]:
power(2, y = 7) #keyword arguments must follow positional arguments!!!

In [ ]:
def power2(x = 2, y = 7): #two parameters with default values 
    return x**y

In [ ]:
power2() #function call with default values

In [ ]:
power2(3,2) #function call with new values (2 positional arguments)

In [ ]:
power2(x = 3, y = 2) #function call with new values (2 keyword arguments)

In [ ]:
power2(x = 3) #changing parameter x:(1) new value for keyword parameter x and default value for parameter y

In [ ]:
power2(3) #changing parameter x:(2) new value for positional parameter x and default value for parameter y

In [ ]:
power2(3, x = 2)  #changing parameter y:(1) multiple values for x (positional & keyword argument)

In [ ]:
power2(x = 2, 3)   #changing parameter y:(2) keyword arguments must follow positional arguments!!!

In [ ]:
power2(y = 3)   #changing parameter y:(3) one default value for x,  keyword argument for y

In [ ]:
power2(x = 2, y = 3) #changing parameter y:(4) two keyword arguments -> BEST PRACTICE!!!

In [ ]:
z = power2(x = 2, y = 3) #can assign return value of function to new variable
z

In [ ]:
def calc(x,y): #can return multiple values
    return x+y, x-y, x*y

In [ ]:
calc(5,2) #returns tuple

In [ ]:
def calc2(x,y): #same as above
    add = x+y
    sub = x-y
    mult = x*y
    return add, sub, mult

In [ ]:
calc2(5,2)

In [ ]:
c = calc2(5,2) #assign results tuple to variable c
c

In [ ]:
add, sub, mult = c #unpack tuple and assign variables add, sub, mult

In [ ]:
add

In [ ]:
sub

In [ ]:
mult

In [ ]:
add, sub, mult = calc2(5,2) # calling the fucntion and assigning results to variables add, sub, mult

In [ ]:
add

In [ ]:
sub

In [ ]:
mult

In [ ]:
l = [1,2,3,4,5,6,7]
l

In [ ]:
def median(x): #conditional return (returns median value of sequence x)
    n = len(x)
    if n < 1:
            return None
    if n % 2 == 1:
            return sorted(x)[n//2]
    else:
            return sum(sorted(x)[n//2-1:n//2+1])/2.0

In [ ]:
median(l)

In [ ]:
import random #import random module

In [ ]:
random.randint(1, 100) #create one random integer in range 1 to 100

In [ ]:
def random_generator(size =50, lower_end_point = 1, higher_end_point = 100, seed = 123): #generating many random integers
    l = []
    random.seed(seed)
    for i in range(size):
        random_int = random.randint(lower_end_point,higher_end_point)
        l.append(random_int)
    return l

In [ ]:
random_generator()

In [ ]:
random_generator(10, 100, 200, 100) #calling the function with positional arguments

In [ ]:
#calling the function with keyword arguments, BEST PRACTICE!!!
random_generator(size = 10, lower_end_point = 100, higher_end_point = 200, seed =  100)

## 14 Visualization with Matplotlib

In [ ]:
import matplotlib.pyplot as plt #import plotting framwork of matplotlib
%matplotlib inline

In [ ]:
l = [1,3,5,7,6]
l

In [ ]:
plt.plot(l) #create a line plot of l
plt.show() #show plot

In [ ]:
plt.plot(range(5,10), l) #defines x-axis values for y-axis values l 
plt.show()

In [ ]:
plt.scatter(x = range(5), y = l) #creates scatterplot
plt.show()

In [ ]:
import random

In [ ]:
random.seed(123)
speed_ny = [random.normalvariate(55, 5) for i in range(10000)] #creates 10,000 normal distributed numbers with mean=55 and std=5
speed_ny[:10]

In [ ]:
plt.hist(speed_ny, bins = 100) #creating a histogramm of list speed with 100 bins
plt.show()

In [ ]:
plt.style.use("seaborn") #change style to seaborn
plt.figure(figsize = (12,6)) #change size of graph
plt.hist(speed_ny, bins = 100, label = "New York Data", alpha = 0.5, color = "red") #Histrogramm of NY Data
plt.hist(speed_bo, bins = 100, label = "Boston Data", alpha = 0.5, color = "blue") #Histogramm of Boston Data
plt.title("Measured Car Speed (Speed Limit 50 mph)", fontsize = 15) #set title
plt.xlabel("Speed") #label x-axis
plt.ylabel("occurences") #label y-axis
plt.vlines(sum(speed_ny)/len(speed_ny),0,400, color = "red", linestyle = "--", label = "Mean New York") #vertical line at NY mean
plt.vlines(sum(speed_bo)/len(speed_bo),0,400, color = "blue", linestyle = "-.", label = "Mean Boston") #vertical line at Boston mean 
plt.axis((30,90,0,400)) #set range of axis
plt.xticks(range(30,91,5)) #set ticks of x-axis
plt.yticks(range(0,401,50))  #set ticks of y-axis
plt.grid(True) #enable/disable grid
plt.legend(loc = "center right", fontsize = 13) #include legend
plt.show()

In [ ]:
speed_bo = [random.normalvariate(60, 8) for i in range(10000)]

https://matplotlib.org/index.html